

<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js'></script>

<script type="text/javascript" charset="utf-8">
  // $(function(){
    // Trigger maximage
  //  jQuery('#maximage').maximage();
  // });
</script>


<div id="ajax"></div>
<script type="text/javascript" charset="utf-8">

  function updateDiv(){
    //Get new content through Ajax
    var $url = "/slide_show/show"
    $.ajax({
        url: $url,
        success: function(data){
            //Load the href
            $('#ajax').html('').html(data); // To be sure caching clears, we empty #ajax, before filling it again
            $("maximage").hide();
        
        $('#maximage').maximage({
          backgroundSize: "contain", // show complete picutre, looks a bit stupid
          cycleOptions: {
            fx: 'fadeZoom',
            speed: 5000, // Has to match the speed for CSS transitions in jQuery.maximage.css (lines 30 - 33)
            //timeout: 0,
            //prev: '#arrow_left',
            //next: '#arrow_right',
            //pause: 1
          },
          onFirstImageLoaded: function(){
            jQuery('#cycle-loader').hide();
            jQuery('#maximage').fadeIn('fast');
          },
          cssBackgroundSize: false // This option is causing choppiness in retina display safari
        });

        // Helper function to Fill and Center the HTML5 Video
        //jQuery('#html5video').maximage('maxcover');

        // To show it is dynamic html text
        //jQuery('.in-slide-content').delay(1200).fadeIn();
        }
    }); 

  }

  $(function(){
    updateDiv(); 
  });

  setInterval(updateDiv, 60 * 1000); // update every minute

</script>